

    <div class="navbar-fixed">
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">{{ this.theme.data.site_brand }}</a>
                <div class="right hide-on-med-and-down">
                    {% component 'topLevelNavigation' %}
                </div>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>