{### PAGE TITLE ###}
{% if category.seo.title %}
    {% set page_title = category.seo.title %}
{% else %}
    {% set page_title = category.name %}
{% endif %}

{### PAGE DESCRIPTION ###}
{% if category.seo.description %}
    {% set page_description = category.seo.description %}
{% elseif category.excerpt %}
    {% set page_description = category.excerpt %}
{% elseif this.page.meta_description %}
    {% set page_description = this.page.meta_description %}
{% else %}
    {% set page_description = this.theme.site_description %}
{% endif %}

{### OPENGRAPH TITLE ###}
{% if category.seo.opengraph_title %}
    {% set og_title = category.seo.opengraph_title %}
{% else %}
    {% set og_title = page_title %}
{% endif %}

{### OPENGRAPH DESCRIPTION ###}
{% if category.seo.opengraph_title %}
    {% set og_description = category.seo.opengraph_description %}
{% else %}
    {% set og_description = page_description %}
{% endif %}

{### OPENGRAPH IMAGE ###}
{% if category.images.social.facebook %}
    {% set og_image = category.images.social.facebook %}
{% elseif category.images.default %}
    {% set og_image = category.images.default %}
{% elseif this.theme.images.social.facebook %}
    {% set og_image = this.theme.images.social.facebook %}
{% endif %}

{### TWITTER TITLE ###}
{% if category.seo.twitter_title %}
    {% set twitter_title = category.seo.twitter_title %}
{% else %}
    {% set twitter_title = page_title %}
{% endif %}

{### TWITTER DESCRIPTION ###}
{% if category.seo.twitter_title %}
    {% set twitter_description = category.seo.twitter_description %}
{% else %}
    {% set twitter_description = page_description %}
{% endif %}

{### TWITTER IMAGE ###}
{% if category.images.social.twitter %}
    {% set twitter_image = category.images.social.twitter %}
{% elseif category.images.default %}
    {% set twitter_image = category.images.default %}
{% elseif this.theme.images.social.twitter %}
    {% set twitter_image = this.theme.images.social.twitter %}
{% endif %}


{% put page_title %}
    <title>{{ page_title | striptags }} | {{ this.theme.site_brand }}</title>
{% endput %}

{% put page_description %}
    <meta name="description" content="{{ page_description | striptags }}">
{% endput %}

{% put opengraph %}
    <meta property="og:title" content="{{ og_title | striptags }}" />
    <meta property="og:url" content="{{ category.url }}" />
    <meta property="og:description" content="{{ og_description | striptags }}" />
    {% if og_image %}
        <meta property="og:image" content="{{ og_image | media }}" />
    {% endif %}
{% endput %}

{% put twitter %}
    <meta name="twitter:site" content="{{ this.theme.twitter_handle }}">
    <meta name="twitter:creator" content="{{ this.theme.twitter_handle }}">
    <meta name="twitter:title" content="{{ twitter_title | striptags }}">
    <meta name="twitter:description" content="{{ twitter_description | striptags }}">
    {% if twitter_image %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ twitter_image | media }}">
    {% else %}
        <meta name="twitter:card" content="summary">
    {% endif %}
{% endput %}