body {
  color: grey;
  padding-top: 3.5rem;
  font-size: 1.1rem;
}

.jumbotron img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.jumbotron img.rounded-circle {
  height: 200px;
  width: 200px;
}
.jumbotron h1 {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .jumbotron h1 {
    margin-top: 0;
  }
}

.display-3 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-3 {
    font-size: 4.5rem;
  }
}

.pagination {
  justify-content: center;
  padding-top: 25px;
}
.pagination nav {
  text-align: center;
}

.image-wrapper {
  border: 1px solid #eee;
  padding: 10px;
  margin: 15px 0;
}

@media (min-width: 992px) {
  .sidebar .card-deck .card img {
    height: 140px;
  }
}
@media (min-width: 1200px) {
  .sidebar .card-deck .card img {
    height: 170px;
  }
}

.card-deck .card {
  overflow: hidden;
  min-width: 18rem;
}
@media (min-width: 992px) {
  .card-deck .card {
    max-width: 36rem;
  }
}
.card-deck .card img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}
.card-deck .card .card-footer {
  min-height: 80px;
}

.sidebar {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .sidebar {
    margin-top: 0;
  }
}
.sidebar .card {
  min-width: 12rem;
  width: 100%;
}

.post-body img, .section-image.above img, .section-image.below img, .post-image.banner img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h2 {
  clear: both;
}

.section-image.left img {
  float: left;
  width: 400px;
  max-width: 40%;
  margin-right: 10px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-image.right img {
  float: right;
  width: 400px;
  max-width: 40%;
  margin-left: 10px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
