{% set tag = __SELF__.tag %}
{% set posts = __SELF__.posts %}

{% put jumbotron %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <picture class="{{ tag.images.banner.class }}">
                    {% for entry in tag.images.banner.responsive %}
                    {% if item.image and item.screen_width %}
                    <source srcset="{{ item.image|media }}" media="({{ item.media_query }}: {{ item.screen_width }}px)">
                    {% endif %}
                    {% endfor %}
                    {% if tag.images.banner.default %}
                    <img src="{{ tag.images.banner.default | media }}" alt="{{ tag.images.banner.alt }}"/>
                    {% endif %}
                </picture>
            </div>
            <div class="col-12 col-md-8">
                <h1 class="display-3">{{ tag.name }}</h1>
                <p>{{ tag.excerpt | raw }}</p>
            </div>
        </div>
    </div>
</div>

{% endput %}

<div class="container">
    <div class="row">
        <div class="col-12">
            {% for item in tag.body %}
                {% if item._group == 'section' %}
                    {% if item.block.heading %}
                        <h2 id="{{ item.block.sId }}">{{ item.block.heading }}</h2>
                    {% endif %}

                    {# The plugin provides several defaults for image positioning #}
                    {# --- IMAGE ABOVE --- #}
                    {% if item.block.image.default and item.block.image.image_style == 'full-above' %}
                        {% partial __SELF__ ~ "::image"
                            image = item.block.image.default
                            srcset = item.block.image.srcset
                            alt = item.block.image.alt
                            class = "section-image above " ~ item.block.image.class
                        %}
                    {% endif %}

                    {# --- IMAGE INLINE LEFT --- #}
                    {% if item.block.image.default and item.block.image.image_style == 'inline-left' %}
                        {% partial __SELF__ ~ "::image"
                            image = item.block.image.default
                            srcset = item.block.image.srcset
                            alt = item.block.image.alt
                            class = "section-image left " ~ item.block.image.class
                        %}
                    {% endif %}

                    {# --- IMAGE INLINE RIGHT --- #}
                    {% if item.block.image.default and item.block.image.image_style == 'inline-right' %}
                        {% partial __SELF__ ~ "::image"
                            image = item.block.image.default
                            srcset = item.block.image.srcset
                            alt = item.block.image.alt
                            class = "section-image right " ~ item.block.image.class
                        %}
                    {% endif %}

                    {{ item.block.content | raw }}

                    {# --- IMAGE BELOW --- #}
                    {% if item.block.image.default and item.block.image.image_style == 'full-below' %}
                        {% partial __SELF__ ~ "::image"
                            image = item.block.image.default
                            srcset = item.block.image.srcset
                            alt = item.block.image.alt
                            class = "section-image below " ~ item.block.image.class
                        %}
                    {% endif %}

                {% elseif item._group == 'html' %}
                    {{ item.body | raw }}
                {% endif %}

            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-4 mt-4">Posted in {{ tag.name }}</h4>
            {% partial __SELF__ ~ "::postslist" posts = posts %}
        </div>
    </div>
</div>


