<div class="card-deck">
{% for post in posts %}

    <div class="card mb-4" style="min-width: 18rem;">
            {% if post.images.list.default %}
                {% partial __SELF__ ~ "::helpers/image"
                    image = post.images.list.default
                    srcset = post.images.list.responsive
                    alt = post.images.list.alt
                    class = post.images.list.class
                %}
            {% endif %}
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.excerpt | raw }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ post.primary_category.url }}" class="card-link">{{ post.primary_category.name }}</a>
            <a href="{{ post.url }}" class="card-link">Read More...</a>
        </div>
    </div>

{% endfor %}
</div>

<div class="row">
    <div class="col-12 pagination">
        {{ posts.links("pagination::bootstrap-4") | raw }}
    </div>
</div