<div class="card-deck">
    {% for post in posts %}
        <div class="card mb-4">
           {% if post.images.list.default %}
                {% partial "common/helpers/image"
                    image = post.images.list.default
                    srcset = post.images.list.responsive
                    alt = post.images.list.alt
                    class = "card-img-top img-fluid " ~ post.images.list.class
                %}
           {% else %}
               <img src="https://picsum.photos/200/300" alt="A placeholder" class="img-fluid card-img-top">
           {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                {% if not hideExcerpt %}
                    <p class="card-text">{{ post.excerpt | raw }}</p>
                {% endif %}
            </div>
            <div class="card-footer">
                {% if not hideCategory %}
                    {% if post.primary_category %}
                        <a href="{{ post.primary_category.url }}" class="card-link">{{ post.primary_category.name }}</a>
                    {% endif %}
                {% endif %}
                {% if not hideTag and post.tags | length %}
                    <a href="{{ post.tags | first.url }}" class="card-link">#{{ post.tags | first.name }}</a>
                {% endif %}
                <a href="{{ post.url }}" class="card-link">Read More...</a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-12 pagination">
        {{ posts.links("pagination::bootstrap-4") | raw }}
    </div>
</div>