<div class="row">

    <div class="col-12 mb-4">
        {% partial __SELF__ ~ "::layouts/clean/banner"
            post = post
        %}
    </div>

    <div class="col-12 mb-4 post-info">
        <h1>{{ post.title}} </h1>
        {% partial __SELF__ ~ "::layouts/clean/postinfo"
            post = post
        %}
    </div>

    <div class="col-12">
        {% if post.contents_list | length > 0 %}
            <div class="card mb-4 contents">
                <div class="card-header">
                Contents
                </div>
                <ul class="list-group list-group-flush">
                    {% for section in post.contents_list %}
                        <li class="list-group-item"><a href="{{ section.url }}">{{ section.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {#  --- Render the body, block-by-block
        Use the paginator to support breaking pages in the right place
        todo: We don't seem to have the benefit of include ignore missing, so write that later
        to acommodate custom blocks which may not be supported in the theme
        --- #}
        {% for item in paginator %}
            {% partial "common/blocks/" ~ item._group block=item.block %}
        {% endfor %}

        {% if paginator.total > 1 %}
            {{ paginator.links("pagination::bootstrap-4") | raw }}
        {% endif %}
    </div>
</div>
