<div class="row">
    <div class="col-12 mb-4">
        {% partial __SELF__ ~ "::layouts/clean/banner"
            post = post
        %}
    </div>

    <div class="col-12 mb-4 post-info">
        <h1>{{ post.title}} </h1>
        {% partial __SELF__ ~ "::layouts/clean/postinfo"
            post = post
        %}
    </div>

    <div class="col-12">
        {% if post.contents_list | length > 0 %}
            <div class="card mb-4 contents">
                <div class="card-header">
                Contents
                </div>
                <ul class="list-group list-group-flush">
                    {% for section in post.contents_list %}
                        <li class="list-group-item"><a href="{{ section.url }}">{{ section.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {{ post.body.renderPage(paginator.currentPage) | raw  }}

        {% if paginator.total > 1 %}
            {{ paginator.links("pagination::bootstrap-4") | raw }}
        {% endif %}
    </div>
</div>
