{% put jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                {% if category.images.banner.default %}
                    <div class="col-12 col-md-6">
                        {% partial "common/helpers/image"
                            image = category.images.banner.default
                            responsive = category.images.banner.responsive
                            alt = category.images.banner.alt
                            class = category.images.banner.class
                        %}
                    </div>
                    <div class="col-12 col-md-6">
                        <h1 class="display-3">{{ category.name }}</h1>
                        {{ category.excerpt | raw }}
                        <a href="{{ category.url }}.rss"><i class="fas fa-rss fa-2x"></i></a>
                    </div>
                {% else %}
                    <div class="col-12">
                        <h1 class="display-3">{{ category.name }}</h1>
                        {{ category.excerpt | raw }}
                        <a href="{{ category.url }}.rss"><i class="fas fa-fw fa-rss fa-2x"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endput %}
