{% set posts = __SELF__.posts %}
<div class="row">
    {% for post in posts %}
    {% if loop.index <= 2 %}
    <div class="col s12 m12 l6">
        <div class="card">
            <a href="{{post.url}}"><div class="card-image">
                <img src="{{ post.images.list.default | media }}"
                     alt="{{ post.images.list.alt }}">
                <span class="card-title">{{ post.title }}</span>
            </div></a>
            
            <div class="card-content">
                {% if post.excerpt %}
                <p>{{ post.excerpt|length > 150 ? post.excerpt|slice(0, 150) ~ '…' : post.excerpt  }}</p>
                {% else %}
                <p>This post needs an excerpt</p>
                {% endif %}
            </div>
            
            <div class="card-action">
                <a href="{{post.url}}">Read More</a>
                {% if post.primary_category %}
                <a href="{{post.primary_category.url}}">More From '{{ post.primary_category.name }}'</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% else %}
    <div class="col s12 m6 l6 xl4">
        <div class="card">
            <a href="{{post.url}}"><div class="card-image">
                <img src="{{ post.images.list | media }}"
                     alt="{{ post.images.list_alt }}">
                <span class="card-title">{{ post.title }}</span>
            </div></a>
            <div class="card-content">
                {% if post.excerpt %}
                <p class="truncate">{{ post.excerpt |slice(1,100) }}</p>
                {% else %}
                <p class="truncate">This post needs an excerpt</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{{post.url}}">Read More</a>
                {% if post.primary_category %}
                <a href="{{post.primary_category.url}}">More From '{{ post.primary_category.name }}'</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}
</div>

