{% set post = __SELF__.post %}
{% set paginator = __SELF__.getPaginator %}
{% set contents = __SELF__.getContentsList %}

<article class="dynamedia blog">
    {% if post.main_images.banner_image %}
        {% put indexBannerStyle %}
        background-image: url('{{ post.main_images.banner_image.default | media }}');
        {% endput %}
    {% endif %}

    {% put headline %} {{ post.title }} {% endput %}
    
    <div class="post-info">
        <small>By {{ post.user.first_name }} {{ post.user.last_name }},
            {% if post.is_published %}
            on {{ post.published_at | date('d-m-Y') }}
            {% endif %}
            {% if post.is_published and post.updated_at > post.published_at %}
            <br>Last updated {{ post.updated_at | date('d-m-Y') }}
            {% endif %}

            {### INFO FOR MULTI-PAGE POSTS ###}
            {% if post.getPageCount > 1 %}
            <p>Page {{post.getRequestedPage}} of {{post.getPageCount}}</p>
            {% endif %}
        </small>
    </div>
    

    
    {% if contents|length > 0 %}
    <div class="contents">
        <ul class="collection with-header">
            <li class="collection-header"><h5>Contents</h5></li>
            {% for section in contents %}
            <li class="collection-item"><div class="collection-item"><a href="{{ section.url }}">{{ section.title }}</a></div></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if post.getRequestedPage == 1 %}
    <p class="introduction">{{ post.introduction | md }}</p>
    {% endif %}


    {% for entry in post.getPage %}
        {% if entry._group == 'section' %}
            {% if entry.section.heading %}
            <h2 id="{{entry.id}}">{{ entry.section.heading }}</h2>
            {% endif %}

            {# The plugin provides several defaults for image positioning #}
            {# --- IMAGE ABOVE --- #}
            {% if entry.section.image.default and entry.section.image.image_style == 'full-above' %}
                {% partial __SELF__ ~ "::image"
                  image = entry.section.image.default
                  srcset = entry.section.image.srcset
                  alt = entry.section.image.alt
                  class = "section-image above " ~ entry.section.image.class
                %}
            {% endif %}

            {# --- IMAGE INLINE LEFT --- #}
            {% if entry.section.image.default and entry.section.image.image_style == 'inline-left' %}
            {% partial __SELF__ ~ "::image"
              image = entry.section.image.default
              srcset = entry.section.image.srcset
              alt = entry.section.image.alt
              class = "section-image left " ~ entry.section.image.class
            %}
            {% endif %}

            {# --- IMAGE INLINE RIGHT --- #}
            {% if entry.section.image.default and entry.section.image.image_style == 'inline-right' %}
            {% partial __SELF__ ~ "::image"
              image = entry.section.image.default
              srcset = entry.section.image.srcset
              alt = entry.section.image.alt
              class = "section-image right " ~ entry.section.image.class
            %}
            {% endif %}

            {{ entry.section.content | md }}

            {# --- IMAGE BELOW --- #}
            {% if entry.section.image.default and entry.section.image.image_style == 'full-below' %}
            {% partial __SELF__ ~ "::image"
              image = entry.section.image.default
              srcset = entry.section.image.srcset
              alt = entry.section.image.alt
              class = "section-image below " ~ entry.section.image.class
            %}
            {% endif %}

        {% elseif entry._group == 'html' %}
            {{ entry.body | raw }}
        {% endif %}

    {% endfor %}
    
    {### PAGINATION SUPPORT FOR MULTI-PAGE POSTS ###}
    {### This is a very simple framework agnostic paginator. You might want 'paginator.render | raw'  ###}
    {% if post.getPageCount > 1 %}

    <div class="pagination-wrapper">
    <ul class="pagination">
        {% if paginator.previousPageUrl %}
        <li class="previous"><a href="{{ paginator.previousPageUrl }}"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

        {% if paginator.nextPageUrl %}
        <li class="next"><a href="{{ paginator.nextPageUrl }}"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>

    </div>
    {% endif %}
</article>