description = "Clean layout"
postsLayout = true

[staticMenu topLevelNavigation]
code = "top-level-navigation"

[localePicker]
forceUrl = 1
==
<!DOCTYPE html>
<html lang="en">
    {% partial 'layout/clean/head/default' %}

    <body class="page-{{ this.page.id }} layout-{{ this.layout.id }}">
        {% component 'topLevelNavigation' %}

        <main role="main">
            {% placeholder jumbotron %}
            <div class="container">
                {% page %}
            </div>
        </main>

        {% partial 'layout/clean/footer' %}
        {% partial 'layout/clean/scripts/default' %}
        {% partial 'layout/common/flash' %}
    </body>
</html>
