description = "Default layout"

[mailSignup]
list = "04a6258f18"

[staticMenu topLevelNavigation]
code = "top-level-navigation"
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% placeholder page_title default %}{{ this.page.title }}{% endplaceholder %}</title>
    {% partial "meta/styles" %}
    {% partial "meta/seo" %}
</head>
{% set pageId = this.page.id %}
{% set pageTitle = this.page.title %}
{% if pageId is empty %}
{% set pageId = page.id %}
{% endif %}
{% if pageTitle is empty %}
{% set pageTitle = page.title %}
{% endif %}
<body class="page-{{ pageId }} layout-{{ this.layout.id }}">
{% partial "site/mobile-nav" %}
{% partial "site/top-nav" %}
<div class="row">
    <div class="col m12 l9">
        <div class="row">
            <div class="col s12 m12">
                {% partial 'site/page-hero' %}
            </div>
        </div>
        <div class="row">
            <div class="col s12">           
                {% page %}
            </div>
        </div>

        </div>
        <div class="col s12 l3">
            <div class="row">
                <div class="col s12 m6 l12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Welcome</span>
                            <p>Hello and welcome to the demo theme for the October CMS Posts plugin. This is a very simple theme
                            based on the Materialize CSS framework. There is nothing fancy here but you will see how to integrate the plugin.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>



            <div class="col s12 m6 l12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Contextual Posts</span>
                        <p>Loop containing recommended and contextual posts.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Generic Posts</span>
                        <p>Loop containing new or top posts (non contextual)</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% partial "site/footer" %}

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ [
            '@framework',
            '@framework.extras',
            'assets/js/dist/app.js',
        ] | theme }}"></script>
{% scripts %}

{% flash %}
<p data-control="flash-message" data-interval="7" class="flashmessage {{ type }}">
    {{ message }}
</p>
{% endflash %}
</body>
</html>