description = "Static Pages Default layout"

[staticMenu topLevelNavigation]
code = "top-level-navigation"

[staticPage]
useContent = 1
default = 0

[localePicker]
forceUrl = 1

[alternateHrefLangElements]
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% component 'alternateHrefLangElements' %}
        {{ page.html_head | raw }}
        {% partial "layout/default/head/styles" %}
        {% partial "layout/common/head/google-analytics" %}
    </head>

    <body class="page-{{ this.page.id }} layout-{{ this.layout.id }}">
        {% component 'topLevelNavigation' %}

        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="display-3">{{ page.title }}</h1>
                            {{ page.meta_title }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                {% page %}
            </div>
        </main>

        {% partial 'layout/default/footer' %}
        {% partial 'layout/default/scripts/default' %}
        {% partial 'layout/common/flash' %}
    </body>
</html>
