title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[listPosts featuredPosts]
postIds = "1,2"
postsLimit = 2
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"

[listPosts latestPosts]
notPostIds = "1,2"
notCategoryIds =
notTagIds =
postsLimit = 5
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
==
{% put jumbotron %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <picture class="{{this.theme.images.banner.class}}">
                    {% for entry in this.theme.images.banner.responsive %}
                        {% if entry.image and entry.screen_width %}
                            <source srcset="{{entry.image|media}}" media="({{entry.media_query}}: {{entry.screen_width}}px)">
                        {% endif %}
                    {% endfor %}
                    {% if this.theme.images.banner.default %}
                        <img src="{{this.theme.images.banner.default | media}}" alt="{{this.theme.images.banner.alt}}"/>
                    {% else %}
                        <img src="https://picsum.photos/200/150" alt="A placeholder">
                    {% endif %}
                </picture>
            </div>
            <div class="col-12 col-md-6">
                <h1 class="display-3">Winter CMS Posts Plugin</h1>
                <p>
                    This is a simple Bootstrap 4 template with examples to help you set up the Posts plugin.
                    You can get it free at <a href="https://github.com/Dynamedia/wn-posts-demo-theme">Github</a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endput %}

<div class="row">
    <div class="col-12">
        {% content 'home-intro' %}
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-4 mb-4">Two Featured Posts</h2>
            {% component 'featuredPosts' %}

            <h2 class="mt-4 mb-4">Five of the latest posts</h2>
            {% component 'latestPosts' %}

            <p class="text-right"><a href="/latest">All Posts</a></p>
        </div>
    </div>
</div>
