{% put jumbotron %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-3">{{ 'headings.search-results' | _ }}</h1>
                <p>{{ 'search.you-searched-for' | _ }} "{{ __SELF__.searchQuery }}"</p>
            </div>
        </div>
    </div>
</div>

{% endput %}

{% put page_title %}
    <title>{{ 'search.search-results-for' | _ }} {{ __SELF__.searchQuery }} | {{ this.theme.site_brand }}</title>
{% endput %}

{% put page_description %}
    <meta name="description" content="{{ 'search.all-posts-from' | _ }} {{ this.theme.site_name }} {{ 'search.matching-the-query' | _ }} '{{ __SELF__.searchQuery | striptags }}'">
{% endput %}

{% partial "common/postlist-cards"
    posts = __SELF__.posts
    hideCategory = true
%}
