{% put head %}
    {{ __SELF__.post.html_head | raw }}
{% endput %}

{# --- Logic here allows us to render the post differenly per layout, if desired. Fallback to default/default --- #}
{% if this.layout.id == 'clean' %}
    {% partial __SELF__ ~ "::layouts/clean/default"
        post        = __SELF__.post
        paginator   = __SELF__.paginator
    %}
{% else %}
    {% partial __SELF__ ~ "::layouts/default/default"
        post        = __SELF__.post
        paginator   = __SELF__.paginator
    %}
{%  endif %}
