{% set post = __SELF__.post %}
{% set paginator = __SELF__.getPaginator %}
{% set contents = __SELF__.getContentsList %}

{% partial __SELF__ ~ "::seo" post = post %}

{% put jumbotron %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <picture class="{{ post.images.banner.class }}">
                    {% for item in post.images.banner.responsive %}
                        {% if item.image and item.screen_width %}
                            <source srcset="{{ item.image|media }}" media="({{ item.media_query }}: {{ item.screen_width }}px)">
                        {% endif %}
                    {% endfor %}
                    {% if post.images.banner.default %}
                    <img src="{{ post.images.banner.default | media }}" alt="{{ post.images.banner.alt }}"/>
                    {% endif %}
                </picture>
            </div>
            <div class="col-12 col-md-8">
                <h1 class="display-3">{{ post.title }}</h1>
                <p>{{ post.excerpt | raw  }}</p>
                {% if post.primary_category %}
                    <p>Category: <a class="badge badge-secondary" href="{{ post.primary_category.url }}">{{ post.primary_category.name }}</a></p>
                {% endif %}
                {% if post.tags | length %}
                <p>Tags:
                    {% for tag in post.tags %}
                        <a class="badge badge-secondary" href="{{ tag.url }}">#{{ tag.name }}</a>
                    {% endfor %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endput %}

<div class="container">
    <div class="row">
        <div class="col-12 mb-4 post-info">
            {% if post.is_published %}
            <small>
                By {{ post.user.first_name }} {{ post.user.last_name }},
                on {{ post.published_at | date('d-m-Y') }}
                {% if post.updated_at > post.published_at %}
                <br>Last updated {{ post.updated_at | date('d-m-Y') }}
                {% endif %}

                {### INFO FOR MULTI-PAGE POSTS ###}
                {% if post.getPageCount > 1 %}
                <p>Page {{ post.getRequestedPage }} of {{ post.getPageCount }}</p>
                {% endif %}
            </small>
            {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                This <strong>post preview</strong> is only visible to creators and editors.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        </div>


        <div class="col-12">
            {% if contents|length > 0 %}
                <ul class="list-group contents">
                    {% for section in contents %}
                    <li class="list-group-item"><a href="{{ section.url }}">{{ section.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for item in post.getPage %}
                {% if item._group == 'section' %}
                    {% if item.block.heading %}
                        <h2 id="{{ item.block.sId }}">{{ item.block.heading }}</h2>
                    {% endif %}

                    {# The plugin provides several defaults for image positioning #}
                    {# --- IMAGE ABOVE --- #}
                    {% if item.block.image.default and item.block.image.image_style == 'full-above' %}
                        {% partial __SELF__ ~ "::helpers/image"
                            image = item.block.image.default
                            responsive = item.block.image.responsive
                            alt = item.block.image.alt
                            class = "section-image above " ~ item.block.image.class
                        %}
                    {% endif %}

                    {# --- IMAGE INLINE LEFT --- #}
                    {% if item.block.image.default and item.block.image.image_style == 'inline-left' %}
                        {% partial __SELF__ ~ "::helpers/image"
                            image = item.block.image.default
                            responsive = item.block.image.responsive
                            alt = item.block.image.alt
                            class = "section-image left " ~ item.block.image.class
                        %}
                    {% endif %}

                    {# --- IMAGE INLINE RIGHT --- #}
                    {% if item.block.image.default and item.block.image.image_style == 'inline-right' %}
                        {% partial __SELF__ ~ "::helpers/image"
                            image = item.block.image.default
                            responsive = item.block.image.responsive
                            alt = item.block.image.alt
                            class = "section-image right " ~ item.block.image.class
                        %}
                    {% endif %}

                    {{ item.block.content | raw }}

                    {# --- IMAGE BELOW --- #}
                    {% if item.block.image.default and item.block.image.image_style == 'full-below' %}
                        {% partial __SELF__ ~ "::helpers/image"
                            image = item.block.image.default
                            responsive = item.block.image.responsive
                            alt = item.block.image.alt
                            class = "section-image below " ~ item.block.image.class
                        %}
                    {% endif %}

                {% elseif item._group == 'html' %}
                    {{ item.block.content | raw }}

                {% elseif item._group == 'image' %}
                    {% if item.block.default %}
                        {% partial __SELF__ ~ "::helpers/image"
                            image = item.block.default
                            responsive = item.block.responsive
                            alt = item.block.alt
                            class = "post-body " ~ item.block.class
                        %}
                    {% endif %}

                {% elseif item._group == 'cms_content' %}
                    {% content item.block.cms_content %}

                {% elseif item._group == 'cms_partial' %}
                    {% partial item.block.cms_partial %}
                {% endif %}

            {% endfor %}

            {% if post.getPageCount > 1 %}
                {{ paginator.links("pagination::bootstrap-4") | raw }}
            {% endif %}
        </div>
    </div>
</div>