{% partial "common/utility/seo" object = __SELF__.post %}

{% put seo_json %}
    <script type="application/ld+json">
        {{ __SELF__.post.seo_schema | json_encode(constant('JSON_PRETTY_PRINT')) | raw  }}
    </script>
{% endput %}

{# --- Logic here allows us to render the post differenly per layout, if desired. Fallback to default/default --- #}
{% if this.layout.id == 'clean' %}
    {% partial __SELF__ ~ "::layouts/clean/default"
        post        = __SELF__.post
        paginator   = __SELF__.paginator
    %}
{% else %}
    {% partial __SELF__ ~ "::layouts/default/default"
        post        = __SELF__.post
        paginator   = __SELF__.paginator
    %}
{%  endif %}
