{% partial __SELF__ ~ "::layouts/default/jumbotron" post = post %}

<div class="row">
    <div class="col-12 mb-4 post-info">
        {% partial __SELF__ ~ "::layouts/default/postinfo"
            post = post
        %}
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-9">
        {% partial __SELF__ ~ "::layouts/default/main"
            post = post
            paginator = paginator
        %}
    </div>

    <div class="col-12 col-lg-3 sidebar">
        {% partial __SELF__ ~ "::layouts/default/sidebar"
            post = post
        %}
    </div>
</div>